body{
    background-color: black;
}
.mySlides
{
margin-top: 20px;
}
#navbar {
    overflow: hidden;
    background-color: #010101;
  }

  /* Style the links inside the navigation bar */
  #navbar a {
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.row
{
    padding-left: 40px;
    padding-right: 40px;
}

.col
{
    margin:10px;
    float:left;
  margin-bottom: 16px;
  padding: 10px;
  width:40%;
  display: flex;
  border-radius: 50px;
   overflow: hidden;
   background: rgba(255, 255, 255, 0.10);
   backdrop-filter: blur(2px);
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-right-color: rgba(255, 255, 255, 0.1);
   border-bottom-color: rgba(255, 255, 255, 0.1);
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
   padding: 40px;

}
.card {

    float:left;
    width:50%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  padding: 5px;
}
.capt {
    float:left;
    width:50%;
  padding: 0 16px;
  color: #ffffff;
}
.cont::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

input[type=text] {
    padding: 6px;
    font-size: 17px;
    margin: 0;
    border-radius: 100px;
  }
  .search button {
    margin: 0;
    background: #ddd;
    cursor: pointer;
    border-radius: 50px;
  }
  .search button:hover {
    background: #ccc;
  }
.search
{
    margin:20px;
    text-align: center;
    overflow: hidden;
}
.abt
{

   background: rgba(255, 255, 255, 0.10);
   backdrop-filter: blur(2px);
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-right-color: rgba(255, 255, 255, 0.1);
   border-bottom-color: rgba(255, 255, 255, 0.1);
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    color:aliceblue;
    line-height: 1.5;
    padding:20px;
    margin: 40px;
    border-radius: 50px;
}
footer{
    color:aliceblue;

    background: rgba(255, 255, 255, 0.10);
   backdrop-filter: blur(2px);
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-right-color: rgba(255, 255, 255, 0.1);
   border-bottom-color: rgba(255, 255, 255, 0.1);
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.contact
{
  border-top: 1px solid grey;
    float:left;
    width:50%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.med
{
  border-top: 1px solid grey;
    float:left;
    width:50%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.scroll-up {
    position: fixed;
    right:1%;
    bottom: 3%;
    cursor:pointer;
  }
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }
  .fa-edit
  {
    position: fixed;
    right:1%;
    bottom: 12%;
    cursor:pointer;
  }

.about
{
  float: left;
  color: #ddd;
  text-align: center;
  margin:auto;
  border-top: 5px solid grey;
  display:flex;
}
.abtext
{
  text-align: center;
  padding: 100px;
}
.abtimg
{
  padding: 50px;
}